@model IEnumerable<WebAdminAndApi.Models.Post>
@{
    ViewBag.Title = "Übersicht";
}
<h3>Die letzten Postings:</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <h5>@Html.DisplayFor(modelItem => item.Title) <small>von @Html.DisplayFor(m => item.User.Name)</small></h5> <br />
            <a href="~/Uploads/@item.Image.FileName"><img src="~/Uploads/@item.Image.FileName" width="200" alt="Bild" style="vertical-align:middle" /></a>
            <span>@Html.ActionLink("Details", "Details", "Posts", new { id = item.Id }, null)</span>
        </li>
    }
</ul>